// Color Variables
$primary-color: #105175;
$secondary-color: #24B0FC;
$text-color: #105175;
$text-color-light: #1afe9c;
$text-color-lighten: #1afe9c;
$text-color-muted: #1afe9c;

$text-color-dark: #1e1e4b;
$body-color: #fff;
$border-color: #ededf1;
$black: #000;
$white: #fff;
$light: #f8f9fe;
$gray: #f8f8f8;

// Font Variables
$primary-font: 'Poppins', sans-serif;
$secondary-font: 'futura-bold';
$icon-font: 'themify';