// Color Variables
$primary-color: #105175;
$secondary-color: #1afe9c;
$text-color: #193a4d;
$text-color-light: #24B0FC;

// Color for Text Below Heading (description)
$text-color-lighten: #0b3348;


$text-color-muted: #105175;

$button-color: #1afe9c;

$text-color-dark: #1e1e4b;
$body-color: #fff;
$border-color: #ededf1;
$black: #000;
$white: #fff;
$light: #f8f9fe;
$gray: #f8f8f8;

// Font Variables
$primary-font: 'Poppins', sans-serif;
$secondary-font: 'futura-bold';
$icon-font: 'themify';